<div>
  <div class="subcard">
    <h2><%= @tasks.title %></h2>
    <h3><%= @tasks.details %></h3>
  </div>
  <%= link_to "Back to list", tasks_path, class: "btn btn-primary" %>
  <%= link_to "Edit this task", edit_task_path, class: "btn btn-primary" %>
</div>



