body {
  font-family: 'Lato', sans-serif;
  font-weight: regular 400;
  font-size: 18px;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: #a80f2b;
}

.maincard {
  width: 400px;
  text-align: left;
  margin: 50px 50px;
}

.subcard {
  width: 400px;
  text-align: center;
  margin: 50px 50px;
}

a {
  color : white;
}

a:hover {
  text-decoration: none;
}

.glyphicon-plus {
  size: 30px;
}

.btn {
  margin: 20px 20px;
}
